body{
    background-color: rgb(244,244,244);
    margin: 0 auto;
}
.title {
    width: 100%;
    height: 70px;
    /*background-color: brown;*/
    text-align: center;
    font-size: 40px;
    /*font-weight: bold;*/
    line-height: 70px;
}
.content{
    width: 100%;
    height: 800px;
    background-color:  red;
}
.menu{
    width: 200px;
    height: 800px;
    background-color:  yellow;
    display:block;
    float: left;
}
.context{
    /*width: 600px;*/
    text-align: center;
    font-size: 4rem;
    height: 100%;
    /*float: left;*/
    margin-left: 200px;
    background-color:  pink;
    display:block;
}