/*
    body:after{
            content:'';
            display: block;
            visibility:hidden;
            clear:both;
                }
        #le{
            float:left;
            width:100px;
            height:100px;
            background:#ccc;
            margin-right:10px;
            animation:tr 2s infinite alternate;
        }
        #ri{
            float: right;
            width:100px;
            height:100px;
            background:#6e6e6e;
            margin-left:10px;
            animation:tr 2s infinite alternate;
        }
        #center{
            height:100px;
            overflow:hidden;
            word-break:break-all;
            white-space: pre-wrap;
            background-color:#343434;
        }
        @keyframes tr{
            0%{
                width:100px;
            }
            100%{
                width:300px;
            }
        }
*/
html{
    height: 100% ;
    width: 100%;
}
body{
    background-color: rgb(244,244,244);
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    background-image: url("../src/919534365da310d1ca7322f66f7cbc0b.jpg");
    min-height: 600px;
    margin: 0 auto;
    /*font-size: 50%;*/
}
/*.logo{*/
/*    float: left;*/
/*    padding-top: 20px;*/
/*    padding-left: 20px;*/
/*    background-image: url("../src/久其软件/久其logo.png");*/
/*    width: 100px;*/
/*    height: 90px;*/
/*}*/
.logging{
    background-color: rgba(255,255,255,0.7);
    margin:0 auto;
    margin-top: 5%;
    width: 500px;
    height: 100%;
    border-radius: 20px;
}
.loggingBox{
    padding: 30px;
    margin-bottom: 20px;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}
.registerTitle{
    text-align: center;
    font-size: 2rem;
}
.FORM{
    padding:30px;
}
#ID,#PS,#BT,#register{
    width: 100%;
    height: 60px;
    line-height: 45px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    border:none;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.05) 0 1px 4px, rgba(0,0,0,.12) 0 1px 2px;
}
#BT,#register{
    background-color: #1f4f82;
    height: 70px !important;
    font-size: 2.2rem;
    font-weight: bold;
    color:white;
}
#BT:hover,#register:hover {background-color: #017cba}
.register{
    background-color: rgba(255,255,255,0.7);
    margin:5px auto;
    width: 500px;
    height: 100%;
    min-width: 500px;
    border-radius: 20px;
}
.registerBox{
    padding: 20px 60px 20px 60px;
}